[Desktop Entry]
Type=Application
Version=1.0
Name=Install ClearwaterOS
GenericName=System Installer
Comment=Install ClearwaterOS to this computer
Exec=/usr/local/bin/install-clearwateros
Icon=calamares
Terminal=false
StartupNotify=true
Categories=Qt;System;
